section.photo-project.p-b
    .containers 
        .projects
            .projects__txt
                h3 Как мы это видели
            .projects__fotos
                .projects__foto
                    img(src="./wp-content/themes/prodex/assets/img/detox.jpg", alt="Технолгии")
                .projects__foto
                    img(src="./wp-content/themes/prodex/assets/img/gen.jpg", alt="Генезис")
