.photo-project {
    width: 100%;
}
.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    @media (min-width: 1440px) {
        justify-content: flex-end;
    }
    &__txt {
        width: 100%;
        padding: 0 1.5rem;
        @media (min-width: 1440px) {
            max-width: 30%;
        }
        @media (min-width: 1540px) {
            max-width: 28%;
        }
        h3 {
            @media (min-width: 900px) {
                text-align: center;
            }
            @media (min-width: 1440px) {
                text-align: left;
            }
        }
    }
    &__fotos {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        @media (min-width: 1440px) {
            max-width: 65%;
        }
        @media (min-width: 1540px) {
            max-width: 63%;
        }
    }
    &__foto {
        background: #c4c4c4;
        width: 100%;
        max-width: 55.9rem;
        min-height: 29.8rem;
        // max-width: 46%;
        @media (min-width: 900px) {
            max-width: 46%;
        }
        @media (min-width: 1440px) {
            min-height: 27.3rem;
        }
        img {
            max-height: 100%;
            min-height: 29.8rem;
            min-width: 100%;
            object-fit: cover;
            @media (min-width: 1440px) {
                min-height: 27.3rem;
            }
        }
    }
}
.projects-after {
    .projects__txt {
        @media (min-width: 1440px) {
            order: 1;
        }
    }
    .projects__fotos {
        @media (min-width: 1440px) {
            order: 0;
        }
    }
}
