section.services.p-b
    .containers 
        h2 Услуги
        .services-wrap 
            .service
                .service__svg 
                    svg(width="45" height="45")
                        use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#web-programming")
                .service__name 
                    h3 Разработка сайтов
            .service
                .service__svg 
                    svg(width="45" height="45")
                        use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#website-content")
                .service__name 
                    h3 Графический и веб-дизайн
            .service
                .service__svg 
                    svg(width="45" height="45")
                        use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#SEOcoppywrite")
                .service__name 
                    h3 SEO - продвижение
            .service
                .service__svg 
                    svg(width="45" height="45")
                        use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#development")
                .service__name 
                    h3 Техническое сопровождение