footer.footer
    .container 
        .footer__block
            include ./../../bem-blocks/logo/logo.pug
            include ./../../bem-blocks/social/social.pug
            nav.footer__nav
                ul.footer__nav-list
                    li.footer__nav-item.nav-item
                        a.footer__item-link.item-link(href="about.html") О нас
                    li.footer__nav-item.nav-item
                        a.footer__item-link.item-link(href="services.html") Услуги
                    li.footer__nav-item.nav-item
                        a.footer__item-link(href="prices.html") Портфолио
                    li.footer__nav-item.nav-item
                        a.footer__item-link.item-link(href="contacts.html") Контакты
            button.btn Заказать звонок
            .politic
                a(href="/") Политика Конфиденциальности сайта