section.preimuchestva
    include ./../../bem-blocks/min-img-txt/min-img-txt.pug
    .preimuchestvo
        .svg
            img(src="./wp-content/themes/prodex/assets/img/icons/character.svg", alt="")
        .txt
            h3 Вовлекающий контент
            p Контент - главная составляющая сайта. Наполним сайт качественными фотографиями, уникальными заголовками. 
                |Сделаем информативную подачу материала и акцентируем  внимание пользователя на важных мелочах.
    .preimuchestvo
        .svg
            img(src="./wp-content/themes/prodex/assets/img/icons/character2.svg", alt="")
        .txt
            h3 Высокая скорость загрузки
            p Чтобы Ваши клиенты не уходили, даже не увидев сайт, мы делаем скорость его работы максимально возможной. 
                |Для этого используем подходящие системы управления и хостинги с оптимальными техническими требованиями.
    .preimuchestvo
        .svg
            img(src="./wp-content/themes/prodex/assets/img/icons/character3.svg", alt="")
        .txt
            h3 Грамотное seo продвижение
            p Ваш сайт будет находился как можно выше в поисковой выдаче по необходимым поисковым запросам. 
                |А значит новым клиентам будет проще Вас найти.
