section.table.table-uslugi
    .container 
        h2 Стоимость услуг
        table 
            thead 
                tr 
                    th Параметр/тариф
                    th Минимальный
                    th Оптимальный
                    th Максимум
            tbody 
                tr 
                    td Сроки разработки (рабочие дни)
                    td ~15 дней
                    td ~30 дней
                    td ~60 дней
                tr 
                    td Количество уникальных страниц
                    td До 15
                    td До 20
                    td От 3
                tr 
                    td Авторский индивидуальный дизайн сайта
                    td Нет
                    td Нет
                    td Да
                tr 
                    td Редизайн сайта
                    td Нет
                    td Да
                    td Нет
                tr 
                    td Шаблонный дизайн сайта
                    td Да
                    td Нет
                    td Нет
                tr 
                    td Тех. поддержка (внесение мелких правок, доработок)
                    td 2 недели
                    td 1 месяц
                    td 1 месяц
            tfoot 
                tr 
                    td Стоимость тарифа
                    td От 
                        span 20 000 
                        |рублей
                    td От 
                        span 30 000 
                        |рублей
                    td От 
                        span 40 000 
                        |рублей
                tr 
                    td
                    td: button.btn.btn-2 Заказать
                    td: button.btn.btn-2 Заказать
                    td: button.btn.btn-2 Заказать