section.directions.p-b
    .container 
        h2 Подробнее о направлениях
        .cartochci
            .cartochci__block
                h3 Создание сайтов
                p Корпоративные, промо проекты, лэндинги. Создание сайтов наWordpress.
                button.btn Подробнее
            .cartochci__block
                h3 Продвижение
                p Seo пролвижение в поисковых системах Яндекс и Google. Оптимизация сайта только белыми методами.
                button.btn Подробнее
            .cartochci__block
                h3 Фирменный дизайн
                p Индивидуальный, авторский дизайн для вашего сайта.
                button.btn Подробнее
            .cartochci__block
                h3 Поддержка
                p Полный спектр услуг, в рамках комплексной поддержки сайтов. Поддержка сайтов на WordPress.
                button.btn Подробнее