.cartochci {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    @media (min-width: 900px) {
        justify-content: flex-end;
    }
    @media (min-width: 1450px) {
        justify-content: flex-start;
    }
    &__block {
        background-image: url("../img/icons/fon7.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        padding: 5rem 2rem;
        text-align: center;
        border-top: 3px solid #f28d55;
        max-width: 38.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 1440px) {
            max-width: 40.3rem;
        }
        @media (min-width: 1450px) {
            max-width: 22%;
        }
        &:nth-child(2) {
            @media (min-width: 900px) {
                margin-right: auto;
            }
            @media (min-width: 1450px) {
                margin-right: 0;
            }
        }
        &:nth-child(3n) {
            @media (min-width: 900px) {
                margin-left: auto;
            }
            @media (min-width: 1450px) {
                margin-left: 0;
            }
        }
        p {
            margin-bottom: 3rem;
        }
        .btn {
            width: 20.8rem;
            padding: 1rem 0;
            background: transparent;
            transform: skew(-20deg);
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #ffffff;
            margin-top: auto;
            &:hover,
            &:focus {
                box-sizing: border-box;
            }
        }
    }
}
.standards {
    .cartochci {
        @media (min-width: 900px) {
            justify-content: center;
        }
        @media (min-width: 1440px) {
            justify-content: flex-start;
        }
    }
    .cartochci__block {
        @media (min-width: 1440px) {
            max-width: 45%;
        }
        @media (min-width: 1540px) {
            max-width: 30%;
        }
        &:nth-child(2) {
            @media (min-width: 900px) {
                margin-right: 0;
            }
        }
        &:nth-child(3n) {
            @media (min-width: 900px) {
                margin-left: 0;
            }
        }
    }
}
// страница проект
.technol {
    .cartochci {
        gap: 5rem;
        margin-bottom: 10rem;
        @media (min-width: 900px) {
            justify-content: flex-start;
        }
    }
    .cartochci__block {
        width: 100%;
        max-width: 100%;
        @media (min-width: 768px) {
            max-width: 47%;
        }
        @media (min-width: 1440px) {
            max-width: 47%;
        }
        @media (min-width: 1550px) {
            max-width: 48%;
            padding: 5rem 10rem;
        }
        &:nth-child(2) {
            @media (min-width: 900px) {
                margin-right: 0;
            }
        }
        &:nth-child(3n) {
            @media (min-width: 900px) {
                margin-left: 0;
            }
        }
    }
}
