.scheme-raboty {
    margin-bottom: 14rem;
    p {
        margin-bottom: 7.4rem;
        width: 100%;
    }
}
.shagi {
    width: 100%;
    counter-reset: shag;
    @media (min-width: 1140px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.shag {
    width: 100%;
    max-width: 90%;
    position: relative;
    padding-left: 10.6rem;
    padding-top: 3rem;
    padding-bottom: 2.9rem;
    margin-bottom: 3rem;
    @media (min-width: 1140px) {
        max-width: 25%;
        min-width: 25%;
        padding-left: 10rem;
    }

    &:nth-child(2n) {
        margin-left: auto;
        @media (min-width: 1140px) {
            margin-left: 0;
        }
    }
    &:hover,
    &:focus {
        &::before {
            animation-name: shag;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-iteration-count: 3;
            transform: matrix(1, 0, 0, 1, 0, 0);
            background-image: linear-gradient(180deg, rgba(91, 0, 163, 0.3) 35.68%, rgba(185, 97, 255, 0.3) 68.75%);
            @media (min-width: 1140px) {
                transform: matrix(1, 0, 0, 1, 0, 0) translateX(0.5rem);
            }
        }
    }
    &::before {
        counter-increment: shag; /* Инкрементирует счётчик*/
        content: counter(shag);
        font-family: "NEXTART-Bold";
        font-style: normal;
        font-weight: 600;
        font-size: 17rem;
        width: 10.6rem;
        background-image: linear-gradient(180deg, rgba(185, 97, 255, 0.3) 35.68%, rgba(91, 0, 163, 0.3) 68.75%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        @media (min-width: 1140px) {
            width: auto;
            transform: translateX(0.5rem);
        }
    }
    h3 {
        background-image: linear-gradient(180deg, rgba(185, 97, 255, 0.3) 35.68%, rgba(91, 0, 163, 0.3) 68.75%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.2s;
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 0;
    }
}

@keyframes shag {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0) translateX(0.5rem);
        background-image: linear-gradient(180deg, rgba(185, 97, 255, 0.3) 45.68%, rgba(91, 0, 163, 0.3) 58.75%);
    }

    50% {
        transform: matrix(-0.5, 0, 0, 1, 0, 0) translateX(0.5rem);
        background-image: linear-gradient(180deg, rgba(91, 0, 163, 0.3) 45.68%, rgba(185, 97, 255, 0.3) 58.75%);
    }
    100% {
        transform: matrix(1, 0, 0, 1, 0, 0) translateX(0.5rem);
        background-image: linear-gradient(180deg, rgba(91, 0, 163, 0.3) 35.68%, rgba(185, 97, 255, 0.3) 68.75%);
    }
}
