section.scheme-raboty
    .container 
        h2 Схема работы
        p Мы создаем креативные сайты с уникальным дизайном, удобным интерфейсом и 
            |функциональной версткой. Помогаем развитию вашего бизнеса.
        .shagi
            .shag
                h3 Аналитика
                p Включает в себя анализ конкурентов и пожеланий клиента. Создаем структуру сайта и разрабатываем прототип.
            .shag
                h3 Креатив
                p Разработка дизайна сайта с соблюдением современных трендов и стилей.
            .shag
                h3 Разработка
                p Верстка и анимация на сайте. Адаптивный дизайн под все современные устройства.
            .shag
                h3 Развитие
                p После запуска сайта организуем эффективное продвижение в поисковых системах и будем сопровождать контентное наполнение сайта.