section.portfolio
    .container 
        h1.titles Наше портфолио
        .belt__tags
            a.belt__tags-link.link-active(href="/") Все работы
            a.belt__tags-link(href="/") Разработка “под ключ”
            a.belt__tags-link(href="/") Редизайн
        .portfolio-wrap
            .portfolio-wrap__block 
                .portfolio-wrap__block-img
                    img(src="./wp-content/themes/prodex/assets/img/blagovest.jpg", alt="Благовест")
                .portfolio-wrap__block-hover
                    h3: a(href="project.html") Медицинский кабинет “Благовест и Ко”
                    a(href="/") Редизайн
            .portfolio-wrap__block 
                .portfolio-wrap__block-img
                    img(src="./wp-content/themes/prodex/assets/img/gen.jpg", alt="Генезис")
                .portfolio-wrap__block-hover
                    h3: a(href="project.html") Лечение алкоголизма и наркомании
                    a(href="/") Редизайн
            .portfolio-wrap__block 
                .portfolio-wrap__block-img
                    img(src="./wp-content/themes/prodex/assets/img/detox.jpg", alt="Деток мед")
                .portfolio-wrap__block-hover
                    h3: a(href="project.html") ДетоксМед Наркологический центр
                    a(href="/") Разработка “под ключ”
            .portfolio-wrap__block 
                .portfolio-wrap__block-img
                    img(src="./wp-content/themes/prodex/assets/img/blagovest.jpg", alt="Благовест")
                .portfolio-wrap__block-hover
                    h3: a(href="project.html") Медицинский кабинет “Благовест и Ко”
                    a(href="/") Редизайн
            .portfolio-wrap__block 
                .portfolio-wrap__block-img
                    img(src="./wp-content/themes/prodex/assets/img/gen.jpg", alt="Генезис")
                .portfolio-wrap__block-hover
                    h3: a(href="/") Лечение алкоголизма и наркомании
                    a(href="/") Редизайн
            .portfolio-wrap__block 
                .portfolio-wrap__block-img
                    img(src="./wp-content/themes/prodex/assets/img/detox.jpg", alt="Деток мед")
                .portfolio-wrap__block-hover
                    h3: a(href="/") ДетоксМед Наркологический центр
                    a(href="/") Разработка “под ключ”
            .portfolio-wrap__block 
                .portfolio-wrap__block-img
                    img(src="./wp-content/themes/prodex/assets/img/blagovest.jpg", alt="Благовест")
                .portfolio-wrap__block-hover
                    h3: a(href="/") Медицинский кабинет “Благовест и Ко”
                    a(href="/") Редизайн
            .portfolio-wrap__block 
                .portfolio-wrap__block-img
                    img(src="./wp-content/themes/prodex/assets/img/gen.jpg", alt="Генезис")
                .portfolio-wrap__block-hover
                    h3: a(href="/") Лечение алкоголизма и наркомании
                    a(href="/") Редизайн
            .portfolio-wrap__block 
                .portfolio-wrap__block-img
                    img(src="./wp-content/themes/prodex/assets/img/detox.jpg", alt="Деток мед")
                .portfolio-wrap__block-hover
                    h3: a(href="/") ДетоксМед Наркологический центр
                    a(href="/") Разработка “под ключ”
        button.btn-border
            span ⟶
            |Больше работ
