.service2.service2-revert     
    h3 Веб-разработка
    .service2__block
        .service2__block-image
            h4 Веб-разработка
            .service2__block-img
                img(src="./wp-content/themes/prodex/assets/img/icons/development2.svg", alt="Веб-разработчик")
        .service2__block-txt
            p Создаём эффективные инструменты для решения задач Вашего бизнеса. Определяем цели и интересы 
                |пользователей. Концепцию строим на преимуществах вашего бизнеcа.Поддерживая все разработки 
                |в области новейших технологий и языков программирования, ProDEX  представляет ряд решений,
                | которые повышают узнаваемость вашего бизнеса и бренда.
            ul  
                li Аналитика, исследования
                li Проектирование UI/UX
                li Адаптивный дизайн
            ul  
                li Вёрстка
                li Интеграция шаблонов с CMS
                li Внедрение
            ul  
                li Наполнение контентом
                li Тестирование
                li Поддержка
    a.btn-border(href="") 
                    span ⟶
                    |Узнать подробнее