.service2    
    h3 Дизайн
    .service2__block
        .service2__block-image
            h4 Дизайн
            .service2__block-img
                img(src="./wp-content/themes/prodex/assets/img/icons/dizi.svg", alt="Дизайнер")
        .service2__block-txt
            p Получите максимум результата! Создадим для вас эффективный, вовлекающий дизайн для вашего бизнеса.  
                |В ProDEX мы думаем о бренде, как о личности. Вот почему мы разрабатываем уникальные и неповторимые 
                |решения дизайна сайтов
            p Разрабатываем архитектуру сайта, сценарии взаимодействия пользователем, качественную графику.
            ul  
                li Аналитика и исследование
                li Информационный дизайн
                li Проектирование UX/UI 
                li Юзабилити тестирование
    a.btn-border(href="") 
                    span ⟶
                    |Узнать подробнее