section.design.p-t-b
    .container 
        .design__blocks
            .design__block
                h2 Дизайн
                p Дизайн сайтов — это не просто красивая обёртка сайта. При разработке дизайна важно 
                    |учесть множество так называемых паттернов поведения пользователей, грамотно спроектировать 
                    |все элементы на сайте (удобным для взаимодействия) — это прямо влияет на количество заявок.
                p Грамотный дизайн поможет выделить все плюсы вашего бизнеса, вызовет доверие, поможет 
                    |сделать из «холодного» клиента — готового приобрести ваш товар или заказать услугу.
            .design__block-img
                img(src="./wp-content/themes/prodex/assets/img/icons/dizain.svg", alt="Дизайнер")