section.support.p-t-b
    .container 
        h2 Поддержка
        .block
            .block__img
                img(src="./wp-content/themes/prodex/assets/img/icons/podderjca.svg", alt="Поддержка")
            .block__txt
                p Возьмём на себя все вопросы по контролю работоспособности и доступности сайта, и не только.
                p Мы понимаем, что многим владельцам бизнеса только технической поддержки бывает не достаточно. 
                p Необходимо решать периодически возникающие потребности по обновлению наполнения сайта, его функционала и т.д..
                p Это мы и называем комплексной поддержкой и с удовольствием поможем вам с решением этих задач.

