section.ceni.p-b
    .container 
        h2 Цены
        .prices
            .price
                h3 Разработка сайтов с базовым набором технических решений
                p Для быстрого старта с минимальным бюджетом
                h4 От 
                    span 50 000 
                    |рублей
            .price
                h3 Разработка сайтов с применением нестандартных решений
                p Быстрый и доступный запуск с максимальным эффектом
                h4 От 
                    span 75 000 
                    |рублей
            .price
                h3 Разработка уникального сайта с индивидуальным дизайном под Ваш бизнес
                p Премиальное решение для неограниченного бюджета
                h4 От 
                    span 100 000 
                    |рублей
        button.btn-border.btn-1
                span ⟶
                |Узнать подробнее