section.differences
    .container 
        h2 Отличия тёмного рынка SEO-агентств от добросовестных подрядчиков
        .differences-blocks
            .differences-block
                .differences-block__img
                    img(src="./wp-content/themes/prodex/assets/img/icons/mujchina.svg", alt="Мужчина")
                .differences-block__txt
                    h3 Тёмный рынок SEO-агентств
                    p Большинство SEO-агентств на рынке обещают клиентам рост позиций сайта, однако обещая, 
                        |не выполняют свои обязанности, а только тянут время.
                    p Многие специалисты производят устаревшую оптимизацию и уже через месяц сайт попадает 
                        |по санкции поисковых систем.
            .differences-block
                .differences-block__img
                    img(src="./wp-content/themes/prodex/assets/img/icons/mujchin2.svg", alt="Мужчина")
                .differences-block__txt
                    h3 Добросовестные подрядчики
                    p В процессе работы позиции сайта растут постепенно.
                    p Первые результаты по продвижению сайта в поисковых системах можно увидеть уже через 2 месяца 
                        |после начала работы. Специалисты работают не только над контентом, но и над развитием инфраструктуры сайта.
