section.other-projects.p-b
    .container
        h1.titles Другие проекты
        //- Slider main container
        .swiper.swiper-projects
            //- Additional required wrapper
            .swiper-wrapper.swiper-wrapper__projects
                //- Slides
                .swiper-slide 
                    .portfolio-wrap__block 
                        .portfolio-wrap__block-img
                            img(src="./wp-content/themes/prodex/assets/img/blagovest.jpg", alt="Благовест")
                        .portfolio-wrap__block-hover
                            h3: a(href="project.html") Медицинский кабинет “Благовест и Ко”
                            a(href="/") Редизайн
                .swiper-slide 
                    .portfolio-wrap__block 
                        .portfolio-wrap__block-img
                            img(src="./wp-content/themes/prodex/assets/img/gen.jpg", alt="Генезис")
                        .portfolio-wrap__block-hover
                            h3: a(href="project.html") Лечение алкоголизма и наркомании
                            a(href="/") Редизайн
                .swiper-slide 
                    .portfolio-wrap__block 
                        .portfolio-wrap__block-img
                            img(src="./wp-content/themes/prodex/assets/img/detox.jpg", alt="Деток мед")
                        .portfolio-wrap__block-hover
                            h3: a(href="project.html") ДетоксМед Наркологический центр
                            a(href="/") Разработка “под ключ”