.preimuchestvo
    .svg
        img(src="./wp-content/themes/prodex/assets/img/icons/devuhca1.svg", alt="")
    .txt
        h3 Современный дизайн
        //- object(type="image/svg+xml" data="./wp-content/themes/prodex/assets/img/icons/devuhca1.svg")
        p Эффективный вовлекающий дизайн для вашего бизнеса: разрабатываем архитектуру сайта, 
            |сценарии взаимодействия пользователем, качественную графику

