.wrap {
    background-image: url("../img/icons/fon.svg");
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    position: relative;
    z-index: 1;
}
.header {
    background: linear-gradient(180deg, rgba(119, 27, 142, 0.3) 0%, rgba(119, 27, 142, 0) 106.32%);
    backdrop-filter: blur(2px);
    padding: 2.1rem 0;
    position: fixed;
    z-index: 1;
    &:hover,
    &:focus {
        @media (min-width: 1140px) {
            background: rgba(32, 0, 57, 0.9);
            transition: all 0.9s;
        }
    }
    @media (min-width: 1140px) {
        position: fixed;
        width: calc(100% - 17px);
        transition: all 0.9s;
    }
    .container {
        flex-direction: initial;
        justify-content: space-between;
    }
    .logo {
        margin: 0;
        @media (min-width: 1140px) {
            margin-right: auto;
        }
    }
    .social {
        padding: 0;
        margin-right: 5rem;
        @media (min-width: 540px) {
            margin-right: 0rem;
        }
    }
    .btn {
        width: 20.8rem;
        height: 4.3rem;
        background: transparent;
        transform: skew(-20deg);
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #ffffff;
        &:hover,
        &:focus {
            box-sizing: border-box;
        }
    }
    .header-btn {
        display: none;
        @media (min-width: 540px) {
            width: 18.8rem;
            height: 4.3rem;
            display: block;
            margin-right: 6rem;
        }
        @media (min-width: 1140px) {
            width: 20.8rem;
        }
    }
    .social,
    .header-btn {
        @media (min-width: 1140px) {
            display: none;
        }
    }
}
.header__bottom-new {
    z-index: 80;
    @media (min-width: 1140px) {
        position: fixed;
        padding: 0;
        transition: all 0.9s;
        background: rgba(32, 0, 57, 0.9);
    }
    .header__nav-list a {
        @media (min-width: 1140px) {
            padding: 1rem 2rem;
        }
    }
}
.fixed {
    // @media (min-width: 1024px) {
    position: fixed !important;
    z-index: 200 !important;
    top: 0;
    left: 0;
    background: rgba(32, 0, 57, 0.9);
    will-change: auto;
    padding: 0;
    transition: all 0.5s ease-out;
    @media (min-width: 1140px) {
        width: calc(100% - 17px) !important;
    }
    // }
}

// .no-scroll {
//     .btn-border {
//         span {
//             z-index: -1;
//         }
//     }
//     .preimuchestva {
//         z-index: -1;
//         position: relative;
//     }
// }
