ul.social 
    li: a(href="" target="_blank")
        svg(width="45" height="45")
            use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#vk")
    li: a(href="" target="_blank") 
        svg(width="45" height="45")
            use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#telegram")
    