ul.social 
    li: a(href="" target="_blank")
        //- svg(width="45" height="45")
        //-     use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#vk")
        img.static(src="./wp-content/themes/prodex/assets/img/icons/vk.svg", alt="")
        img.hover(src="./wp-content/themes/prodex/assets/img/icons/vk-hover.svg", alt="")
    li: a(href="" target="_blank") 
        //- svg(width="45" height="45")
        //-     use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#telegram")
        img.static(src="./wp-content/themes/prodex/assets/img/icons/telegram.svg", alt="")
        img.hover(src="./wp-content/themes/prodex/assets/img/icons/telegram-hover.svg", alt="")
    