.texts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
    @media (min-width: 900px) {
        align-items: flex-start;
        justify-content: space-between;
    }
    .texts__text {
        width: 100%;
        @media (min-width: 900px) {
            max-width: 46%;
        }
        h3 {
            margin-left: 9%;
        }
    }
}
