section.tasks.p-b
    .container 
        .texts
            .texts__text
                h3 Задачи
                p Здесь будут просьбы заказчика. Здесь будут просьбы заказчика. Здесь будут просьбы заказчика.
                    | Здесь будут просьбы заказчика. Здесь будут просьбы заказчика. Здесь будут просьбы заказчика.
                    | Здесь будут просьбы заказчика. Здесь будут просьбы заказчика. Здесь будут просьбы заказчика. 
                    |Здесь будут просьбы заказчика. Здесь будут просьбы заказчика. Здесь будут просьбы заказчика.
                    | Здесь будут просьбы заказчика. Здесь будут просьбы заказчика. Здесь будут просьбы заказчика. 
                    |Здесь будут просьбы заказчика. 
            .texts__text
                h3 Основные проблемы
                p Всё о ппроблемах предыдущего сайта, болях заказчика. Всё о ппроблемах 
                    |предыдущего сайта, болях заказчика. Всё о ппроблемах предыдущего сайта, 
                    |болях заказчика. Всё о ппроблемах предыдущего сайта, болях заказчика. Всё
                    | о ппроблемах предыдущего сайта, болях заказчика. Всё о ппроблемах предыдущего
                    | сайта, болях заказчика. Всё о ппроблемах предыдущего сайта, болях заказчика. 
                    |Всё о ппроблемах предыдущего сайта, болях заказчика. Всё о ппроблемах предыдущего сайта, болях заказчика.