extends ./../layouts/main

block variables
    - let pageTitle = 'ProDEX';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/banner/banner-about.pug
        include ./../components/sections/technologies/technologies.pug
        include ./../components/sections/design/design.pug
        include ./../components/sections/promotion/promotion.pug
        include ./../components/sections/support/support.pug
        include ./../components/sections/directions/directions.pug
        section.consultation.consultation-banner
            .container 
                .consul__txt
                    h2 Не знаешь, какой сайт тебе нужен? Получи бесплатную консультацию!
                    p Наши специалисты с радостью ответят на все интересующие вопросы и расскажут Вам все 
                        |подробности процесса создания сайта для любого бизнеса.
                    button.btn-border.btn-1
                            span ⟶
                            |Получить консультацию
        include ./../components/sections/footer/footer.pug
        include ./../components/sections/modal/modal-min.pug