extends ./../layouts/main

block variables
    - let pageTitle = 'ProDEX';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        section.banner-service 
            .container
                .banner-service__blocks 
                    .banner-service__img
                        img(src="./wp-content/themes/prodex/assets/img/icons/seo2.svg", alt="Веб-разработчик")
                    .banner-service__txt
                        h1.title SEO продвижение
                        p Продвигаем сайт в ТОП поисковой выдачи методом оптимизации для поисковых систем. 
                            |Используем исключительно белые методы, без риска санкций для вашего домена. 
                            |Приведём на ваш сайт живых людей, а не роботов!
                        button.btn-border
                            span ⟶
                            |Оставить заявку
        section.vidu-rabot.p-t-b
            .container
                h2 Виды работ
                .shagi-rabot
                    .shag-rabot
                        .shag-rabot__img
                            svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#SEOcoppywrite")
                        .shag-rabot__txt
                            h3 Внутренняя оптимизация
                            p Приведение в порядок текущего сайта через технические внутренние работы. 
                                |Разработка стратегии будущего расширения семантики, генерация под нее новых 
                                |блоков на сайте и страниц. Обеспечение идеального вида сайта с точки зрения поисковых систем.
                    .shag-rabot
                        .shag-rabot__img
                            svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#seo3")
                        .shag-rabot__txt
                            h3 Внешняя оптимизация
                            p Планомерный рост внешних ссылок на сайт. Повышает рост сайта по высокочастотным запросам пользователей.
                    .shag-rabot
                        .shag-rabot__img
                            svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#seo4")
                        .shag-rabot__txt
                            h3 Позиции или трафик?
                            p Комплексные работы по внутреннему и внешнему продвижению дают рост позиций сайта в 
                                |поисковой выдаче и повышает органический трафик на сайт. Эти взаимосвязанные моменты,
                                | зависящие друг от друга, но тем не менее являются разными с позиции подхода к продвижению.
        section.table.table-uslugi
            .container 
                h2 Цены на услуги SEO-продвижения
                table 
                    thead 
                        tr 
                            th Параметр/тариф
                            th Минимальный
                            th Оптимальный
                            th Максимум
                    tbody 
                        tr 
                            td Подробнее о тарифе
                            td Пакет услуг с абонентской платой 1р./мес.
                            td Базовый пакет + доп. опции
                            td Полный пакет услуг
                        tr 
                            td Количество страниц продвижения
                            td До 15
                            td До 50
                            td До 100
                        tr 
                            td Количество ключевых запросов
                            td До 100
                            td До 500
                            td до 1000 
                        tr 
                            td В тариф входит:
                            td сбор семантического ядра и продвижение по небольшим группам запросов (до 100)
                            td полный анализ юзабилити сайта
                            td индивидуальный мониторинг и контроль работы проекта
                        tr 
                            td 
                            td анализ конкурентов и посещаемости
                            td проведение работ по увеличению конверсии целевых страниц
                            td создание отдельных прототипов новых страниц
                        tr 
                            td 
                            td разработка индивидуальной стратегии продвижения
                            td изучению поведенческих факторов в разрезе отдельных страниц и услуг
                            td тестирование и контроль их конверсии
                        tr 
                            td 
                            td анализ конкурентов и посещаемости
                            td проведение работ по увеличению конверсии целевых страниц
                            td создание отдельных прототипов новых страниц
                        tr 
                            td 
                            td закрепление за вашим проектом персонального менеджера
                            td постоянный мониторинг конкурентов (до ТОПовых 10 сайтов)
                            td мониторинг конкурентов (до 20 ТОПовых сайтов)
                        tr 
                            td 
                            td наполнение сайта контентом
                            td постепенное расширение семантического ядра
                            td разработка PR-стратегии
                        tr 
                            td 
                            td внутренняя и внешняя оптимизация (закупка ссылок)
                            td контроль репутации компании
                            td регулярный маркетинговый анализ компании
                        tr 
                            td 
                            td мониторинг позиций
                            td работа с отзывами
                            td торговые предложения и воронки продаж
                        tr 
                            td Сроки вывода в ТОП
                            td 7-8 месяцев
                            td 6-7 месяцев
                            td 5-6 месяцев
                        tr 
                            td Состав команды
                            td до 2-х человек
                            td до 3-х человек
                            td до 5-ти человек
                    tfoot 
                        tr 
                            td Стоимость тарифа
                            td От 
                                span 20 000 
                                |рублей
                            td От 
                                span 40 000 
                                |рублей
                            td От 
                                span 60 000 
                                |рублей
                        tr 
                            td При оформлении продвижения сразу на 3 месяца, стоимость на 15% меньше
                            td От 
                                span 17 000 
                                |руб в мес
                            td От 
                                span 34 000 
                                |руб в мес
                            td От 
                                span 51 000 
                                |руб в мес
                        tr 
                            td При оформлении продвижения сразу на 6 месяцев, стоимость на 25% меньше
                            td От 
                                span 15 000 
                                |рублей
                            td От 
                                span 30 000 
                                |рублей
                            td От 
                                span 45 000 
                                |рублей
                        tr 
                            td
                            td: button.btn Заказать
                            td: button.btn Заказать
                            td: button.btn Заказать
        section.consultation.consultation-banner
            .container 
                .consul__txt
                    h2 Не можете выбрать тариф? Получи бесплатную консультацию!
                    p Наши специалисты с радостью ответят на все интересующие вопросы и расскажут Вам все 
                        |подробности SEO продвижения сайта для любого бизнеса.
                    button.btn-border
                            span ⟶
                            |Получить консультацию
        include ./../components/sections/differences/differences.pug
        include ./../components/sections/footer/footer.pug