extends ./../layouts/main

block variables
    - let pageTitle = 'ProDEX';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        section.banner-service 
            .container
                .banner-service__blocks 
                    .banner-service__img
                        img(src="./wp-content/themes/prodex/assets/img/icons/character.svg", alt="Техническая поддержка")
                    .banner-service__txt
                        h1.title Техническая поддержка сайта
                        .banner-service__img
                            img(src="./wp-content/themes/prodex/assets/img/icons/character.svg", alt="Техническая поддержка")
                        p Создаём удобные интерфейсы. Повысим доверие к вашему бренду, выделим ваши плюсы с помощью дизайна.
                        button.btn-border.btn-2
                            span ⟶
                            |Оставить заявку
        section.advantages.p-t-b
            .container
                h2 Наши преимущества
                .shagi-rabot.shagi-advantages
                    .shag-rabot
                        .shag-rabot__img
                            svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#contract1")
                        .shag-rabot__txt
                            h3 Без лишних формальностей
                            p Все виды работ от поддержки до внедрения нового модуля или разработки страниц - в рамках одного договора.
                    .shag-rabot
                        .shag-rabot__img
                            svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#management1")
                        .shag-rabot__txt
                            h3 Сопровождение
                            p Выделяем персонального менеджера проекта, аналитика и команду специалистов.
                    .shag-rabot
                        .shag-rabot__img
                            svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#accounting1")
                        .shag-rabot__txt
                            h3 Компетентность
                            p Под каждые задачи составляем мини-ТЗ, чтобы избежать завышенных оценок стоимости и срыва сроков реализации.
                    .shag-rabot
                        .shag-rabot__img
                            svg(width="45" height="45")
                                use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#message1")
                        .shag-rabot__txt
                            h3 Прозрачность
                            p Все виды работ оцениваем до выполнения. Составляем отчет каждый месяц с 
                                |детальным описанием выполненных работ.
        section.we-weapons.p-t-b
            .container 
                .promotion__blocks
                    .promotion__block-img
                        img(src="./wp-content/themes/prodex/assets/img/icons/orujie.svg", alt="мы оружие")
                    .promotion__block
                        h2 Мы — как оружие в ваших руках!
                        p Веб-студия Pro-DEX - это команда специалистов, каждый из которых профессионал в своей 
                            |области. Вместо одного сотрудника, которого вы можете взять к себе на работу, 
                            |вы получаете профессиональную команду для технической поддержки сайта.
        section.table.table-uslugi
            .container 
                h2 Цены технического сопровождения
                table 
                    thead 
                        tr 
                            th Параметр/тариф
                            th Минимальный
                            th Оптимальный
                            th Максимум
                    tbody 
                        tr 
                            td Включенный объём работ специалистов в месяц
                            td 10 часов
                            td 25 часов
                            td 40 часов
                        tr 
                            td Мониторинг и обеспечение работоспособности сайта
                            td Да
                            td Да
                            td Да
                        tr 
                            td Резервное копирование (1 раз в неделю)
                            td Да
                            td Да
                            td Да
                        tr 
                            td Восстановление сайта после сбоев
                            td Да
                            td Да
                            td Да
                        tr 
                            td Работы по хостингу и доменам
                            td Да
                            td Да
                            td Да
                        tr 
                            td Консультации по функционированию и развитию сайта
                            td Нет
                            td Нет
                            td Да
                        tr 
                            td Информирование о появлении новых возможностей и сервисов для сайта
                            td Нет
                            td Нет
                            td Да
                        tr 
                            td Напоминание о необходимости оплаты хостинга/домена
                            td Да
                            td Да
                            td Да
                        tr 
                            td Оповещение о приближении к лимиту дискового пространства хостинга
                            td Да
                            td Да
                            td Да
                        tr 
                            td Обновление модулей и компонентов CMS
                            td Нет
                            td Да
                            td Да
                        tr 
                            td Добавление/изменение/доработка текстового и медийного контента
                            td Нет
                            td Нет
                            td Да
                        tr 
                            td Оптимизация и коррекция изображений перед загрузкой
                            td Нет
                            td Да
                            td Да
                        tr 
                            td Настройка/добавление почтовых ящиков на домене
                            td Нет
                            td Да
                            td Да
                        tr 
                            td Помощь при решении проблем в работе сервисов аналитики, коллтрекинга, поступления заявок с сайта, CRM
                            td Нет
                            td Да
                            td Да
                        tr 
                            td Добавление/изменение элементов дизайна сайта
                            td Нет
                            td Да
                            td Да
                        tr 
                            td Обучение работе с сайтом
                            td Нет
                            td  Нет
                            td Да
                        tr 
                            td Проверка на технические ошибки с использованием сервиса «Яндекс.Вебмастер» и их устранение
                            td Не проводится
                            td Один раз в месяц
                            td Еженедельно
                        tr 
                            td Проверка сайта на наличие неработающих (битых) ссылок
                            td Не проводится
                            td Не проводится
                            td Один раз в месяц
                        tr 
                            td Приоритетное обслуживание
                            td Нет
                            td Нет
                            td Да
                    tfoot 
                        tr 
                            td Срок действия тарифа (90 календарных дней), цена за 1 мес.
                            td 
                                span 15 000 
                                |рублей
                            td 
                                span 20 000 
                                |рублей
                            td 
                                span 30 000 
                                |рублей
                        tr 
                            td Стоимость 1 доп. часа работ сверх нормы в тарифе
                            td 
                                span 1000 
                                |рублей
                            td 
                                span 800 
                                |рублей
                            td 
                                span 600 
                                |рублей
                        tr 
                            td
                            td: button.btn.btn-2 Заказать
                            td: button.btn.btn-2 Заказать
                            td: button.btn.btn-2 Заказать
        section.consultation.consultation-banner
            .container 
                .consul__txt
                    h2 Не можете выбрать тариф? Получи бесплатную консультацию!
                    p Наши специалисты с радостью ответят на все интересующие вопросы и расскажут Вам все 
                        |подробности SEO продвижения сайта для любого бизнеса.
                    button.btn-border.btn-1
                            span ⟶
                            |Получить консультацию
        section.standards.p-t-b
            .container 
                h2 Стандарты обслуживания
                .cartochci
                    .cartochci__block
                        h3 Оперативность
                        p Отлаженный процесс и правильное распределение обязанностей внутри студии позволяют нам оперативно реагировать на обращения клиентов.
                        
                    .cartochci__block
                        h3 Персональный менеджер
                        p За вашим проектом закреплен персональный менеджер, который будет в курсе всех ваших задач. Основная задача менеджера решать задачи клиента с техническими специалистами нашей команды.
                        
                    .cartochci__block
                        h3 Система контроля
                        p Мы используем собственные методики тестирования проделанной работы. Любое изменения на сайте клиента проходит проверку перед тем, как оказаться на основном сайте.
                        
                    .cartochci__block
                        h3 Выделенный штат
                        p Сопровождением клиентов занимаются отдельные выделенные для этих задач специалисты, что позволяет выполнять задачи независимо от общей загрузки сотрудников студии.
                        
                    .cartochci__block
                        h3 Индивидуальные условия сотрудничества
                        p В рамках одного договора мы предоставляем вам услуги технического сопровождения. Исходя из ваших целей и задач мы можем корректировать данный договор, включив туда условия, комфортные для Вас.
                        
                    .cartochci__block
                        h3 Персональные рекомедации по развитию
                        p В процессе технического сопровождения нашими специалистами будут предложены улучшения по развитию ресурса, предложения по техническим доработкам и новинкам, следуя современным трендам.
        section.teamwork.p-t-b
            .container 
                .design__blocks
                    .design__block
                        h2 Работаем в команде с вами!
                        p Всегда выступаем за плотную работу с вашими специалистами, учитываем пожелания по 
                            |техническому сопровождению сайта. Выделяем менеджера, который будет курировать Ваши задачи, 
                            |срок их исполнения и качество реализации.
                    .design__block-img
                        img(src="./wp-content/themes/prodex/assets/img/icons/teamwork.svg", alt="Дизайнер")
        include ./../components/sections/footer/footer.pug
        include ./../components/sections/modal/modal-min.pug