section.technologies.p-t-b
    .container 
        h2 Технолгии
        .technologies__blocks
            .technologies__block.technologies__block-img
                img(src="./wp-content/themes/prodex/assets/img/icons/texnologii.svg", alt="Технолгии")
            .technologies__block
                p Создаём быстрые, удобные (как для владельцев, так и для посетителей) сайты. Опыт нашей команды 
                    |позволяет реализовать любые, даже самые сложные задачи.
                p Используем современные технологии для ускорения процесса разработки. В качестве CMS системы 
                    |предпочитаем «WordPress». Система достаточно гибкая, что позволяет интегрировать её практически 
                    |в любые проекты. А также, что не маловажно, удобна и понятна для конечного пользователя.