section.vidu-rabot.p-t-b
    .container
        h2 Виды работ
        .shagi-rabot
            .shag-rabot
                .shag-rabot__img
                    svg(width="45" height="45")
                        use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#web-design")
                .shag-rabot__txt
                    h3 Продуманный UX дизайн
                    p Создаём удобные ресурсы путём грамотного проектирования UX дизайна
            .shag-rabot
                .shag-rabot__img
                    svg(width="45" height="45")
                        use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#search")
                .shag-rabot__txt
                    h3 Исследования
                    p Изучим вашу целевую аудиторию, предложения конкурентов
            .shag-rabot
                .shag-rabot__img
                    svg(width="45" height="45")
                        use(xlink:href="./wp-content/themes/prodex/assets/img/icons/sprite.svg#creative")
                .shag-rabot__txt
                    h3 Лечим «баннерную слепоту»
                    p Создаём креативы, на которые обратят внимание