section.how-order
    .container 
        h2 Как заказать сайт?
        .shagi-order
            .shag-order
                h3 Аналитика
                .shag-order__txt
                    p Включает в себя анализ конкурентов, 
                    p создание структуры сайта, создание 
                    p прототипа
            .shag-order
                h3 Согласование
                .shag-order__txt
                    p После заполнения брифа, мы предлагаем
                    p варианты и согласовываем техническое 
                    p задание
            .shag-order
                h3 Создание и сдача
                .shag-order__txt
                    p Разработка сайта строго по ТЗ. После 
                    p сдачи сайта мы предложим Вам
                    p поддержку и продвижение