section.about.p-t-b 
    .containers 
        h2 О нас
        p Мы занимаемся комплексным созданием и продвижением сайтов. 
            |Создаем удобные индивидуальные ресурсы, которые решают задачи Вашего бизнеса.
        .about-wrapp
            .about-wrapp__block
                .svg
                    img(src="./wp-content/themes/prodex/assets/img/icons/verst.svg", alt="")
                .txt
                    h3 Верстальщики
                    p Кропотливо и аккуратно разработают Вашу индивидуальную верстку сайта.
            .about-wrapp__block
                .svg
                    img(src="./wp-content/themes/prodex/assets/img/icons/diz.svg", alt="")
                .txt
                    h3 Веб-дизайнеры
                    p Креативные личности, оформят Ваш сайт так, чтобы он отличался от конкурентов.
            .about-wrapp__block
                .svg
                    img(src="./wp-content/themes/prodex/assets/img/icons/seo.svg", alt="")
                .txt
                    h3 Seo-специалисты
                    p Оптимизируют Ваш сайт под требования поисковых систем, чтобы клиенты могли легко вас найти на просторах интернета.
            .about-wrapp__block
                .svg
                    img(src="./wp-content/themes/prodex/assets/img/icons/progr.svg", alt="")
                .txt
                    h3 Программисты
                    p Наладят работоспособность сайта, движка и хостинга. С ними все работает "как часы".