.btn-border {
    height: 9rem;
    max-width: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 3rem;
    transition: all 0.3s;
    color: #ffffff;
    @media (min-width: 411px) {
        font-size: 2rem;
    }
    span {
        display: block;
        position: relative;
        padding: 3rem 3.31rem;
        border-radius: 80%;
        font-size: 2rem;
        line-height: 3rem;
        transition: all 0.7s;
        &::before {
            content: "";
            position: absolute;
            width: 9rem;
            height: 9rem;
            left: 0;
            top: 0;
            transition: all 0.4s;
            background-image: url(../img/icons/border-btn.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transform: translate(-2%, 0);
        }
    }
    &:hover {
        span {
            transition: all 0.7s;
            margin-right: 2rem;
            background: #ed8b54;
            border-radius: 50%;
            &::before {
                transition: all 0.4s;
                opacity: 0;
            }
        }
    }
    &:focus {
        transition: all 0.3s;
        color: #f28d55;
        span {
            transition: all 0.7s;
            margin-right: 2rem;
            background: #ed8b54;
            border-radius: 50%;
            color: #ffffff;
            &::before {
                transition: all 0.4s;
                opacity: 0;
            }
        }
    }
}
.btn {
    position: relative;
    z-index: 0;
    &::after,
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid transparent;
        width: 0;
        height: 0;
        z-index: -1;
        transition: all 0.4s;
    }
    &::before {
        transform: scale(1);
        width: 100%;
        height: 100%;
        background: #f28d55;
    }
    &::after {
        border: 1px solid #f28d55;
        width: 100%;
        height: 100%;
        transform: scale(1);
        box-shadow: 2px 4px 6px rgba(255, 227, 211, 0.54);
    }
    &:hover {
        &::after {
            transform: scale(1);
            background: linear-gradient(180deg, rgba(100, 17, 166, 0.2) 0.01%, rgba(63, 4, 109, 0.2) 100%);
            border: 1px solid #f28d55;
            border-radius: 0%;
            box-shadow: none;
        }
        &::before {
            transition: all 0.4s;
            transform: scale(0);
            border-radius: 100%;
        }
    }
}
button {
    background-color: transparent;
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
    border-width: 0px;
    border-style: outset;
    border-color: transparent;
    border-image: initial;
}
