a,
button {
    font-family: "Spectral SC";
    font-style: normal;
    font-weight: 600;
    text-align: center;
}
h1 {
    font-family: "Spectral SC";
    font-style: normal;
    font-weight: 600;
    font-size: 6rem;
    line-height: 160.2%;
    color: #ffffff;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 8.5rem;
}
