a,
button {
    font-family: "SpectralSC-SemiBold";
    font-style: normal;
    font-weight: 600;
    text-align: center;
}
h1 {
    font-family: "SpectralSC-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 160.2%;
    color: #ffffff;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 4rem;
    @media (min-width: 411px) {
        font-size: 4rem;
    }
    @media (min-width: 1140px) {
        font-size: 5rem;
    }
    @media (min-width: 1500px) {
        font-size: 6rem;
        margin-bottom: 8.5rem;
    }
}
h2,
.titles {
    font-family: "SpectralSC-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 4.9rem;
    color: #ffffff;
    margin-bottom: 5rem;
    position: relative;
    width: 100%;
    padding-left: 5rem;
    @media (min-width: 411px) {
        font-size: 3.2rem;
    }
    @media (min-width: 1140px) {
        padding-left: 13rem;
    }
    &::before {
        position: absolute;
        content: "";
        width: 3rem;
        height: 0.3rem;
        background-color: #f28d55;
        top: 0;
        left: 0;
        transform: translate(0rem, 2.1rem);
        @media (min-width: 1140px) {
            transform: translate(8rem, 2.1rem);
        }
    }
}
h3 {
    font-family: "SpectralSC-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 160.2%;
    color: #ffe3d3;
    margin-bottom: 1rem;
    @media (min-width: 1140px) {
        color: #ffffff;
    }
}
h4 {
    font-family: "SpectralSC-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 160.2%;
    text-align: right;
    color: #ffffff;
    span {
        font-family: "NEXTART-Bold";
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 170%;
        color: #f28d55;
    }
}
p {
    font-family: "EBGaramond-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 170%;
    color: #ffffff;
}
td,
th {
    text-align: center;
    &:first-child {
        text-align: left;
    }
}
thead {
    th {
        font-family: "SpectralSC-SemiBold";
        font-style: normal;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 160.2%;
        text-align: center;
        color: #000000;
        padding: 3.5rem 5rem;
    }
}
tbody {
    td {
        font-family: "EBGaramond-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 170%;
        color: #ffffff;
        padding: 3rem 5rem;
    }
}
tfoot {
    td {
        font-family: "SpectralSC-SemiBold";
        font-style: normal;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 160.2%;
        color: #ffffff;
        padding: 3rem 0rem;
    }
    span {
        font-family: "NEXTART-Bold";
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 170%;
        color: #f28d55;
    }
}
