.promotion {
    background-image: url("../img/icons/fon6.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    h2 {
        font-size: 2.6rem;
        @media (min-width: 411px) {
            font-size: 2.8rem;
        }
    }
    &__blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 900px) {
            flex-direction: row;
            gap: 10rem;
        }
    }
    &__block-img {
        margin-bottom: 5rem;
        width: 27.2rem;
        max-height: 35.7rem;
        @media (min-width: 1140px) {
            margin-left: 8rem;
        }
    }
    &__block {
        p {
            margin-bottom: 1rem;
        }
    }
}
.we-weapons {
    h2 {
        padding-left: 0;
        &::before {
            display: none;
        }
    }

    .promotion__blocks {
        width: 100%;
        @media (min-width: 900px) {
            justify-content: flex-start;
        }
    }
    .promotion__block-img {
        background-image: url("../img/icons/fon-or.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 19.4rem;
        img {
            height: 100%;
        }
    }
    .promotion__block-img {
        @media (min-width: 900px) {
            max-width: 40%;
            min-width: 40%;
            min-height: 22.3rem;
        }
        @media (min-width: 1140px) {
            margin-left: 0rem;
        }
    }
    .promotion__block {
        @media (min-width: 900px) {
            max-width: 55%;
        }
        @media (min-width: 1540px) {
            max-width: 57rem;
        }
    }
}
