section.promotion.p-t-b
    .container 
        h2 О продвижении
        .promotion__blocks
            .promotion__block-img
                img(src="./wp-content/themes/prodex/assets/img/icons/prodvij.svg", alt="seo")
            .promotion__block
                p Рекламных каналов очень много, мы предлагаем только те, в которых уверены и имеет опыт.
                p SEO — сложная услуга, в которой очень важно учитывать множество нюансов. Мы предлагаем 
                    |адекватный подход с поступательными действиями и анализом ситуации.
                p Используем только белые методы, во избежание попадания под санкции поисковиков.