section.studio-services
    .container 
        h2 Услуги студии
        include ./../../bem-blocks/service/service.pug
section.development.services-fon
    .container 
        include ./../../bem-blocks/service/service-revert.pug
section.promotion2
    .container 
        .service2    
            h3 Продвижение
            .service2__block
                .service2__block-image
                    h4 Продвижение
                    .service2__block-img
                        img(src="./wp-content/themes/prodex/assets/img/icons/promotion.svg", alt="Продвижение")
                .service2__block-txt
                    p Успех веб-сайта - это не только результат актуальности его содержания. Все 
                        |разрабатываемые проекты построены и оптимизированы в соответствии с передовыми 
                        |методами SEO. Мы продвигаем сайт в ТОП поисковой выдачи методом оптимизации для
                        | поисковых систем. Используем исключительно белые методы, без риска санкций для 
                        |вашего домена. Приведём на ваш сайт живых людей, а не роботов!
                    ul  
                        li Разработка стратегии
                        li SEO
                        li Контент-маркетинг
            a.btn-border(href="") 
                            span ⟶
                            |Узнать подробнее
section.support.services-fon.p-b
    .container 
        .service2.service2-revert     
            h3 Поддержка
            .service2__block
                .service2__block-image
                    h4 Поддержка
                    .service2__block-img
                        img(src="./wp-content/themes/prodex/assets/img/icons/support.svg", alt="Поддержка")
                .service2__block-txt
                    p Мы — как оружие в ваших руках! Веб-студия Pro-DEX - это команда специалистов, 
                        |каждый из которых профессионал в своей области. Вместо одного сотрудника, 
                        |которого вы можете взять к себе на работу, вы получаете профессиональную команду 
                        |для технической поддержки сайта.
                    ul  
                        li Наполнение контентом
                        li Тестирование
                        li Поддержка
            a.btn-border(href="") 
                            span ⟶
                            |Узнать подробнее