nav.header__nav
    ul.header__nav-list
        li.header__nav-item.nav-item
            a.header__item-link.item-link(href="about.html") О нас
        li.header__nav-item.nav-item
            a.header__item-link.open.item-link(href="services.html"): span.open Услуги
            ul.header__drop-menu.reset
                li.header__drop-item
                    a.header__drop-link(href="web-design.html") Веб-дизайн
                li.header__drop-item
                    a.header__drop-link(href="web-development.html") Веб-разработка
                li.header__drop-item
                    a.header__drop-link(href="seo-promotion.html") SEO продвижение
                li.header__drop-item
                    a.header__drop-link(href="treatment-smoking.html") Техническая поддержка сайта
        li.header__nav-item.nav-item
            a.header__item-link.item-link(href="prices.html") Портфолио
        li.header__nav-item.nav-item
            a.header__item-link.item-link(href="contacts.html") Контакты