.header {
    /* .header__nav */
    &__nav {
        width: 100%;
        margin-bottom: 4rem;
        @media (min-width: 640px) {
            margin-left: auto;
        }
        @media (min-width: 1140px) {
            margin-left: 0;
            width: auto;
            margin-bottom: 0;
            justify-self: flex-start;
        }
        /* Общие стили для 'ul' и 'a' в меню и подменю */
        ul {
            a {
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: #ffffff;
                text-shadow: 1px 2px 2px rgba(255, 227, 211, 0.54);

                transition: all 0.5s;
                animation-duration: 1s;
                animation-timing-function: ease;
                &:hover,
                &:focus {
                    transform: scale(1.1);
                    color: #ffe3d3;

                    transition: all 0.5s;
                    animation-duration: 1s;
                }
                // span {
                //     pointer-events: none;
                // }
            }
        }
        .header__nav-list {
            width: 100%;
            text-align: left;
            @media (min-width: 1140px) {
                display: flex;
            }
            li {
                position: relative;
                height: 100%;
                @media (min-width: 1140px) {
                    margin-right: 2rem;
                    &:hover,
                    &:focus {
                        .header__drop-menu {
                            background: rgba(32, 0, 57, 0.9);
                            opacity: 1;
                            visibility: visible;
                            box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
                            z-index: 8;
                            transition: all 0.5s;
                            border-radius: 0rem 5rem 0rem 2rem;
                            transform: scaleY(1);
                        }
                    }
                }
                @media (min-width: 1200px) {
                    margin-right: 2.4rem;
                }
                /* стили для подменю */
                .header__drop-menu {
                    position: absolute;
                    left: 0;
                    z-index: 8;
                    transform: scaleY(0);
                    transform-origin: 0 0;
                    transition: 0.5s ease-in-out;
                    background: rgba(32, 0, 57, 0.9);
                    border-radius: 0rem 5rem 0rem 2rem;
                    min-width: 28rem;
                    padding: 2rem 0;
                    opacity: 0;
                    visibility: hidden;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    background: transparent;
                    overflow: hidden;

                    @media (min-width: 1320px) {
                        max-width: 30rem;
                    }
                    li {
                        margin-right: 0;
                    }
                    a {
                        display: block;
                        padding: 1.5rem 2rem;
                        text-align: left;
                    }
                }
            }
            a {
                text-align: right;
                line-height: 2.3rem;
                display: block;
                padding: 2.5rem 2rem;
                @media (min-width: 1200px) {
                    padding: 2rem 1.6rem;
                }
            }
        }
    }
    &__bottom {
        width: 100%;
    }
}
.item-link-active .nav__link--active {
    // вот он
    text-shadow: rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(1, 18, 15, 0.1) 0.5px 0.5px, rgba(1, 18, 15, 0.1) 0.5px 0.5px,
        rgba(17, 192, 171, 0.7) 0.5px 0px, rgba(17, 192, 171, 0.7) 0.5px 0.5px, rgba(17, 192, 171, 0.7) 0.5px 0px,
        rgba(1, 18, 15, 0.7) 0.5px 0.5px;
}
.header__nav .header__nav-list li .header__drop-menu.submenu-active {
    visibility: visible;
    opacity: 1;
    z-index: 99;
    background: rgba(32, 0, 57, 0.9);
    transition: all 0.5s;
    border-radius: 0rem 5rem 0rem 2rem;
    transform: scaleY(1);
}
