section.banner-about 
    .container
        .banner__blocks.banner-home__blocks 
            h1.title Pro-DEX — веб-студия разработок, дизайна и продвижения сайтов
            p Создаём корпоративные сайты, онлайн витрины, промо-проекты. Делаем дизайн интерфейса, 
                |анализируем поведенческий фактор, продвигаем сайты в поисковиках. Не просто создаём 
                |обёртку из шаблонов и наработок — а вникаем в каждый проект. Делаем на совесть и качество!
            button.btn-border
                span ⟶
                |Обсудить проект