section.banner.banner-home 
    .container
        .banner__blocks.banner-home__blocks 
            h1.title Комплексное создание и продвижение сайтов
            button.btn-border
                span ⟶
                |Обсудить проект