section.banner-services.banner2 
    .container
        .banner__blocks
            h1.title Предлагаем полный комплекс услуг для проектов любой сложности
            p Pro-DEX — веб-студия разработок, дизайна и продвижения сайтов. Мы знаем, что каждый 
                |проект уникален и должен соответствовать видению и целевой аудитории нашего клиента. 
                |Благодаря многопрофильной команде мы ежедневно стремимся к совершенству за счет постоянного 
                |улучшения наших услуг, продуктов, навыков и компетенций.
            button.btn-border
                span ⟶
                |Обсудить проект