section.banner-service 
    .container
        .banner-service__blocks 
            .banner-service__img
                img(src="./wp-content/themes/prodex/assets/img/icons/web-diz.svg", alt="Веб-дизайн")
            .banner-service__txt
                h1.title Веб-дизайн
                p Cоздадим авторский дизайн для вашего сайта. Получите максимум результата! 
                    |Наши дизайнеры разработают для Вас эффективный, вовлекающий дизайн, 
                    |который будет способствовать продвижению Вашего бизнеса. Разрабатываем 
                    |архитектуру сайта, сценарии взаимодействия пользователем, качественную графику.
                button.btn-border.btn-2
                    span ⟶
                    |Оставить заявку