.banner {
    width: 100%;
    position: relative;
    z-index: -1;
    @media (min-width: 1140px) {
        position: initial;
        z-index: 0;
    }
    &__blocks {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    button {
        color: #ffffff;
    }
}
.banner-home {
    padding: 18.3rem 0;

    .title {
        max-width: 86rem;
    }
}
// страница О НАС
.banner-about {
    background-image: url("../img/icons/fon3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 18.3rem 0;
    p {
        margin-bottom: 3rem;
    }
}
